<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sneaker Creator</title>
    <!-- Google Icon Fonts used by Materialize -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Akronim&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/style.css" />  
</head>
  <header>
    <nav class="topnav">
          <div >
            <ul>
              <li class="ig" id="logout">
                <a href="/">Home</a>
                <a class="lg" href="/sneakers">Sneaker Reviews</a> 
                <% if (user) { %>
                  <a  href="/logout">Log Out</a>
                <% } else { %>
                  <a href="/auth/google"> Login with Google</a>
                <% } %>   
                  
              </li>

            </ul>
          </div>
        </nav>
  </header>
<section>
  <h2>SNEAKER CREATOR</h1>
  
  <h3 id="sh-3H">"One Stop To Make You Own Sneaker"</h3> 
</section>
<!-- <img src="/public/images/favicon.ico" alt="SC logo"></img> -->

<body id="index-body">
  
<div class="bg-image"></div>
<footer >
  <h4>Sneaker Creator</h4> 
</footer>     
      
</body>
 
</html>